profiles {
   
  cx1 {
    params.mode = 'cx1'
    params.maxForks = 50  // submit max 50 jobs at once
    params.ncpus = 8
    process {
      // aiming for v1_throughput24 queue here
      executor = 'pbspro'
      time = '24h'
      cpus = 8
      memory = '24g'
    }
  }
}


trace {
    enabled = true
    file = 'trace.txt'
    fields = 'task_id,native_id,hash,name,queue,status,exit,submit,start,complete,duration,realtime,%cpu,%mem,rss'
}